@media print {
    @page {
        size: A4 landscape;
        margin: 0 !important;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .pdf-page {
        break-after: page;

        height: 210mm;
        width: 297mm;

        padding: 10mm;
    }

    .container, .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
    }

    .position-fixed {
        position: static;
    }
}
