body {
    background-color: #ffffff;
    color: #222222;
    font-family: sans-serif;
    margin: 40px;
    line-height: 1.5;
}
h1, h2 { color: #2c3e50; }

.example-container {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.html-block, .css-block {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    font-size: 0.9em;
}

.flex-parent-1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background: #eef2f3;
    padding: 15px;
}

.flex-parent-2 {
    display: flex;
    justify-content: space-around;
    background: #eef2f3;
    padding: 15px;
}

.flex-parent-3 {
    display: flex;
    gap: 10px;
    background: #eef2f3;
    padding: 15px;
}


.flex-child {
    padding: 20px;
    background: #3498db;
    color: white;
    font-weight: bold;
    text-align: center;
}

.grow {
    flex-grow: 1;
    background: #27ae60;
}

.header-task1 {
    display: flex;
    background-color: #ffffff;
    padding: 10px 15px;
}
