.main{
    margin: 0 30px;
}
.main ol > li{
    margin: 20px;
}
.main li a{
    color: blueviolet;
    font-size: 25px;
    font-weight: bold;
}
.main li p{
    font-size: 20px;
    margin: 10px;
}
.main h2 a{
    color: red;
}
.requirements ul, .requirements ol{
    margin: 15px 0;
}
.requirements li{
    margin: 5px 0;
}
.requirements h2, .requirements h1, .requirements h3, .requirements h4{
    margin: 20px;
}
.requirements h3{
    line-height: 1.5;
    color: #b31f1f;
    text-decoration: underline;
}