body {
  margin: 0;
  padding: 40px;
  font-family: system-ui, sans-serif;
}
.tag{
    margin: 10px;
    padding: 4px 10px;
}
// @for
@for $i from 1 through 4 {
  .br-#{$i} {
    border: $i * 2px solid #000000;
  }
}

// @each
$states: (
  "ok": #2e7d32,
  "err": #c62828,
  "warn": #f9a825,
  "info": #1565c0
);

@each $name, $color in $states {
  .tag-#{$name} {
    display: inline-block;
    color: $color;
    border: 1px solid $color;
    padding: 4px 10px;
    font-size: 13px;
    margin: 2px;
  }
}